default:
    suites:
        acceptance:
            contexts:
                - Devbanana\YnabTools\Tests\Acceptance\AuthenticationContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
            kernel:
                environment: test
                debug: true
        Behat\MinkExtension:
            show_cmd: 'open %s'
            sessions:
                symfony:
                    symfony: ~
