default:
    suites:
        acceptance:
            paths: [ '%paths.base%/tests/Acceptance/features' ]
            contexts:
                - Devbanana\YnabTools\Tests\Acceptance\AuthenticationContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: 'tests/bootstrap.php'
            kernel:
                class: Devbanana\YnabTools\Infrastructure\Kernel
                environment: test
                debug: true
        Behat\MinkExtension:
            show_cmd: 'open %s'
            sessions:
                symfony:
                    symfony: ~
