includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
    symfony:
        container_xml_path: var/cache/dev/Devbanana_YnabTools_Infrastructure_KernelDevDebugContainer.xml
    level: max
    paths:
        - src
        - tests
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - \InvalidArgumentException
