includes:
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - vendor/symplify/phpstan-rules/config/array-rules.neon
    - vendor/symplify/phpstan-rules/config/regex-rules.neon
    - vendor/symplify/phpstan-rules/config/static-rules.neon
    - vendor/symplify/phpstan-rules/config/symfony-rules.neon
    - vendor/symplify/phpstan-rules/config/test-rules.neon

parameters:
    symfony:
        container_xml_path: var/cache/dev/Devbanana_YnabTools_Infrastructure_KernelDevDebugContainer.xml
    level: max
    checkExplicitMixed: true
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkInternalClassCaseSensitivity: true
    paths:
        - src
        - tests
    excludePaths:
        - tests/bootstrap.php
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
        uncheckedExceptionClasses:
            - LogicException

    ignoreErrors:
        - '#Anonymous class is not allowed#'
        - '#^Do not use trait#'
        -
            message: '#throws checked exception#'
            path: tests/*
